@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-family: 'Inter', sans-serif;
	height: 100%;
	width: 100%;
	background: #243d63;
}

div {
	position: absolute;
	display: inline-block;
}

a {
	text-decoration: none;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100%;
	color: white;
	text-align: center;
}

#Card {
	width: 70px;
	height: 100px;
	padding: 0;
	border-radius: 15px;
	background-size: 100% 100%;
	border: 1px solid #000000;
}

.Player #Card:hover {
	top: -10px;
	cursor: pointer;
}

.CardDeck {
	top: 40%;
	width: 100px;
	height: 120px;
	background-position: 38% 50%;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

.Player, .Computer {
	display: flex;
	flex-wrap: nowrap;
	left: 20%;
	width: 60%;
	height: 20%;
}

.Player {
	bottom: 14%;
}

.Computer {
	top: 5%;
}

.Table {
	left: 18%;
	top: 30%;
	width: 74%;
	height: 31%
}

.Attack {
	width: 100%;
	height: 50%;
}

.Defend {
	top: 5%;
	width: 100%;
	height: 50%;
}

.ToMenu {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

button:hover, a:hover, .ToMenu:hover {
	background-color: #a52727;
	color: white;
}

button, .Start, .About, .Author, .ToMenu, .Take, .Stop, .Pass {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: #fff;
	color: #243d63;
	width: 200px;
	height: 50px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	font-size: 20px;
}

.Start, .About, .Author {
	left: calc(50% - 100px);
}

.Take, .Stop, .Pass {
	position: absolute;
	left: 43%;
}

.Start {
	top: 25%;
}

.About {
	top: 40%;
}

.Author {
	top: 55%;
}

button.Take, button.Stop, button.Pass {
	bottom: 5%;
}

.Back {
	background-image: url("../deck/back.png");
	background-size: 100% 100%;
}

.Turn, .MSG {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4%;
	width: 100%;
	color: white;
	padding: 0;
	margin: 0;
}


.MSG {
	top: 25%;
	border-radius: 30px;
}

.Hearts_6 {
	background-image: url("../deck/heart/h6.png");
}

.Hearts_7 {
	background-image: url("../deck/heart/h7.png");
}

.Hearts_8 {
	background-image: url("../deck/heart/h8.png");
}

.Hearts_9 {
	background-image: url("../deck/heart/h9.png");
}

.Hearts_10 {
	background-image: url("../deck/heart/h10.png");
}

.Hearts_Jack {
	background-image: url("../deck/heart/h11.png");
}

.Hearts_Queen {
	background-image: url("../deck/heart/h12.png");
}

.Hearts_King {
	background-image: url("../deck/heart/h13.png");
}

.Hearts_Ace {
	background-image: url("../deck/heart/h1.png");
}

.Clubs_6 {
	background-image: url("../deck/club/c6.png");
}

.Clubs_7 {
	background-image: url("../deck/club/c7.png");
}

.Clubs_8 {
	background-image: url("../deck/club/c8.png");
}

.Clubs_9 {
	background-image: url("../deck/club/c9.png");
}

.Clubs_10 {
	background-image: url("../deck/club/c10.png");
}

.Clubs_Jack {
	background-image: url("../deck/club/c11.png");
}

.Clubs_Queen {
	background-image: url("../deck/club/c12.png");
}

.Clubs_King {
	background-image: url("../deck/club/c13.png");
}

.Clubs_Ace {
	background-image: url("../deck/club/c1.png");
}

.Spades_6 {
	background-image: url("../deck/spade/s6.png");
}

.Spades_7 {
	background-image: url("../deck/spade/s7.png");
}

.Spades_8 {
	background-image: url("../deck/spade/s8.png");
}

.Spades_9 {
	background-image: url("../deck/spade/s9.png");
}

.Spades_10 {
	background-image: url("../deck/spade/s10.png");
}

.Spades_Jack {
	background-image: url("../deck/spade/s11.png");
}

.Spades_Queen {
	background-image: url("../deck/spade/s12.png");
}

.Spades_King {
	background-image: url("../deck/spade/s13.png");
}

.Spades_Ace {
	background-image: url("../deck/spade/s1.png");
}

.Diamonds_6 {
	background-image: url("../deck/diamond/d6.png");
}

.Diamonds_7 {
	background-image: url("../deck/diamond/d7.png");
}

.Diamonds_8 {
	background-image: url("../deck/diamond/d8.png");
}

.Diamonds_9 {
	background-image: url("../deck/diamond/d9.png");
}

.Diamonds_10 {
	background-image: url("../deck/diamond/d10.png");
}

.Diamonds_Jack {
	background-image: url("../deck/diamond/d11.png");
}

.Diamonds_Queen {
	background-image: url("../deck/diamond/d12.png");
}

.Diamonds_King {
	background-image: url("../deck/diamond/d13.png");
}

.Diamonds_Ace {
	background-image: url("../deck/diamond/d1.png");
}

@media screen and (max-width: 800px) {
	* {
		font-size: 20px;
	}

	.Take, .Stop, .Pass {
		position: absolute;
		left: 5%;
	}

	#Card {
		width: 50px;
		height: 75px;
	}

	.CardDeck {
		width: 35px;
		height: 98px;
	}
}

@media screen and (max-width: 570px) {


	* {
		font-size: 15px;
	}

	.ToMenu menu {
		left: calc(50% - 100px)
	}

	.ToMenu, .Take, .Stop, .Pass {

		width: 100px;
		height: 50px;

	}

}

@media screen and (max-width: 340px) {
	* {
		font-size: 10px;
	}

	button, .Start, .About, .Author, .ToMenu menu {

		width: 150px;
		height: 50px;

	}

	.Start, .About, .Author, .ToMenu menu {
		left: calc(50% - 75px);
	}

	#Card {
		width: 30px;
		height: 50px;
	}

	.CardDeck {
		width: 22px;
		height: 60px;
	}
}

@media screen and (max-height: 570px) {
	.Game, body, .counter {
		height: 570px;
		overflow-y: scroll;

	}
}

@media screen and (max-width: 300px) {

	.Game, body, .counter {
		width: 300px;
		overflow-x: scroll;

	}
}